
<!DOCTYPE html>
<html>
  <head>
    <title>Fetch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <div style="text-align:right">
      <span><%=link_to 'All Dogs', dogs_path %></span>
      <span><%=link_to 'My Favs', favs_path %></span>
      <span><%=link_to 'New Dog', new_user_dog_path(current_user) %></span>
      <span><%=link_to "My Profile", profile_path(current_user) %></span>
      <span><%=link_to "Logout", logout_path, method: :post %></span>
      <span><%= link_to "Most Popular", "/popular", methof: :get %></span>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
